section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .box {
    width: 50%;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
}

section .box .mb-3 textarea {
    resize: none;
}

section form .btn-send {
    width: 100%;
    text-align: center;
    background-color: var(--color-green);
    color: white;
    padding: 5px 0px !important;
}